@use "variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: v.$grey-200;
}

.container {
  @media screen and (min-width: 64rem) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: v.$spacing-300 0;

  &__img {
    width: 8rem;
    height: 6rem;
  }
}
