@use "variables" as v;

tip-input {
  display: contents;
}

.tip {
  &__group {
    display: grid;
    gap: v.$spacing-100;
    grid-template-areas:
      "label-tip error-tip"
      "input-tip input-tip";

    grid-column: 1 / span 2;

    @media screen and (min-width: 48rem) {
      grid-column: 1 / span 3;
    }

    &--hidden {
      display: none;
    }
  }

  &__label {
    @include v.text-preset-5;
    color: v.$grey-500;
    grid-area: label-tip;
  }

  &__group-input {
    position: relative;
    width: 100%;
    grid-area: input-tip;
  }

  &__input {
    @include v.text-preset-3;
    background-color: v.$grey-50;
    border: 3px solid transparent;
    padding: v.$spacing-100 v.$spacing-400 v.$spacing-100 v.$spacing-100;
    width: 100%;
    text-align: right;
    color: v.$green-900;
    border-radius: 0.5rem;

    &:focus {
      outline: none;
      border: 3px solid v.$green-400;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &--error {
      border: 3px solid v.$orange-400;
    }
  }

  &__input-percent {
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    @include v.text-preset-3;
    color: v.$green-900;
  }

  &__error {
    @include v.text-preset-5;
    color: v.$orange-400;
    grid-area: error-tip;
    justify-self: end;

    &--hidden {
      display: none;
    }
  }
}
