@use "variables" as v;

.result {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-300;
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    @include v.text-preset-5;
    color: v.$white;

    &--sub {
      color: v.$grey-400;
      display: block;
    }
  }

  &__value {
    @include v.text-preset-2;
    color: v.$green-400;

    @media screen and (min-width: 64rem) {
      @include v.text-preset-1;
    }
  }

  &__button-container {
    margin-top: v.$spacing-400;
  }

  &__button {
    @include v.text-preset-4;
    width: 100%;
    padding: v.$spacing-100;
    background-color: v.$green-400;
    color: v.$green-900;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: v.$green-200;
      color: v.$green-900;
    }
  }
}
