@use "variables" as v;

.result {
  &__text-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    @include v.text-preset-5;
    color: v.$white;

    &--sub {
      color: v.$grey-400;
      display: block;
    }
  }

  &__value {
    @include v.text-preset-2;
    color: v.$green-400;

    @media screen and (min-width: 64rem) {
      @include v.text-preset-1;
    }
  }
}
