* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #c5e4e7;
}

@media screen and (min-width: 64rem) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.4rem 0;
}
.logo__img {
  width: 8rem;
  height: 6rem;
}

.calculator {
  background-color: #fff;
  padding: 3.2rem 2.4rem;
  border-radius: 2.4rem 2.4rem 0 0;
}
@media screen and (min-width: 48rem) {
  .calculator {
    max-width: 60rem;
    margin: 3.2rem auto 4.8rem;
    border-radius: 2.4rem;
  }
}
@media screen and (min-width: 64rem) {
  .calculator {
    max-width: 90rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
    padding: 3.2rem;
  }
}
@media screen and (min-width: 80rem) {
  .calculator {
    max-width: 100rem;
  }
}
.calculator__result-container {
  margin-top: 3.2rem;
  background-color: #00474b;
  padding: 2.4rem;
  border-radius: 1.6rem;
}
@media screen and (min-width: 64rem) {
  .calculator__result-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.bill__group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.bill__label {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #5e7a7d;
}
.bill__group-input {
  position: relative;
  width: 100%;
}
.bill__input-symbol {
  position: absolute;
  left: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
.bill__input {
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0;
  background-color: #f3f9fa;
  border: 3px solid transparent;
  padding: 0.8rem;
  width: 100%;
  text-align: right;
  color: #00474b;
  border-radius: 0.5rem;
}
.bill__input:focus {
  outline: none;
  border: 3px solid #26c2ae;
}

.tip__container {
  margin-top: 3.2rem;
}
.tip__text {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #5e7a7d;
}
.tip__options {
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}
@media screen and (min-width: 48rem) {
  .tip__options {
    grid-template-columns: repeat(3, 1fr);
  }
}
.tip__button {
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0;
  background-color: #00474b;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  cursor: pointer;
}
.tip__button:hover {
  background-color: #26c2ae;
  color: #00474b;
}
.tip__button--custom {
  background-color: #f3f9fa;
  color: #547878;
}
.tip__button--active {
  background-color: #26c2ae;
  color: #00474b;
}
.tip__group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  grid-column: 1/span 2;
}
@media screen and (min-width: 48rem) {
  .tip__group {
    grid-column: 1/span 3;
  }
}
.tip__group--hidden {
  display: none;
}
.tip__label {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #5e7a7d;
}
.tip__group-input {
  position: relative;
  width: 100%;
}
.tip__input {
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0;
  background-color: #f3f9fa;
  border: 3px solid transparent;
  padding: 0.8rem 3.2rem 0.8rem 0.8rem;
  width: 100%;
  text-align: right;
  color: #00474b;
  border-radius: 0.5rem;
}
.tip__input:focus {
  outline: none;
  border: 3px solid #26c2ae;
}
.tip__input::-webkit-inner-spin-button, .tip__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tip__input[type=number] {
  -moz-appearance: textfield;
}
.tip__input-percent {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #00474b;
}

.people__group {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.people__label {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #5e7a7d;
}
.people__group-input {
  position: relative;
  width: 100%;
}
.people__input-symbol {
  position: absolute;
  left: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
.people__input {
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0;
  background-color: #f3f9fa;
  border: 3px solid transparent;
  padding: 0.8rem;
  width: 100%;
  text-align: right;
  color: #00474b;
  border-radius: 0.5rem;
}
.people__input:focus {
  outline: none;
  border: 3px solid #26c2ae;
}
.people__input:invalid {
  outline: none;
  border: 3px solid #e17052;
}

.result__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.result__text-wrapper {
  display: flex;
  justify-content: space-between;
}
.result__text {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #fff;
}
.result__text--sub {
  color: #7f9d9f;
  display: block;
}
.result__value {
  font-family: "Space Mono", monospace;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: -0.67px;
  color: #26c2ae;
}
@media screen and (min-width: 64rem) {
  .result__value {
    font-family: "Space Mono", monospace;
    font-size: 4.8rem;
    font-weight: bold;
    letter-spacing: -1px;
  }
}
.result__button-container {
  margin-top: 3.2rem;
}
.result__button {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0;
  width: 100%;
  padding: 0.8rem;
  background-color: #26c2ae;
  color: #00474b;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.result__button:hover {
  background-color: #9fe8df;
  color: #00474b;
}

/*# sourceMappingURL=main.css.map */
